html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1.6;}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration: line-through;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}a img{border: none;}

html
{
	background-color: #F9F9F9;
	overflow:scroll;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

#container
{
	width: 560px;
	height: 560px;
	padding: 10px 20px;
}

.clear
{
	clear: both;
	padding-bottom: 5px;
}

/* Title */
#container h1
{
	font: italic normal normal 20px/20px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	margin: 10px auto;
	line-height: 18px;
	font-weight: bold;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	color: #464646;
	text-align: center;
}

#container label
{
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: rgb(40,40,40);
	font-size: 12px;
}

#container select
{
	padding: 2px 4px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	line-height: 100%;
	width: 550px;
	outline: none;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: rgb(40,40,40);
}

#container #post_title, #post_tags, #schedule_date_time, #post_comment
{
	float: right;
	padding: 3px 4px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	line-height: 100%;
	width: 480px;
	outline: none;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: rgb(40,40,40);
}

/* Preview */
#container #preview
{
	float: right;
	padding: 3px 4px;
	margin-bottom: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 480px;
	outline: none;
	color: #F9F9F9;
	max-height: 120px;
	min-height: 90px;
}

#container #preview #preview_image
{
	display: block;
	float: left;
	width: 120px;
	max-width: 120px;
	max-height: 120px;
	overflow: hidden;
}

#container #preview #preview_text
{
	padding: 3px 4px;
	overflow: hidden;
	font-size: 12px;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: #000000;
	max-height: 120px;
}

/* Category */
#container #category {
	margin-top: 0px;
}

#container #category #cat_subject {

}

#container #category #cat_grade {

}

#container #category #cat_semester {

}

#container #category #cat_topic1 {

}

#container #category #cat_topic2 {

}

#container #category #cat_topic3 {

}

#container #category .category {
	padding: 0 0 4px 0;
}


#container #go_add_link
{
	display: block;
	clear: both;
	font-weight: bold;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.47, #28779C),
	    color-stop(0.72, #298CBA)
	);
	border: 1px solid #298CBA !important;
	line-height: 13px;
	padding: 3px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#working
{
	display: none;
}

#complete, #not_set_up
{
	font-size: 13px;
	font-style: italic;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: #666;
}

.schedule_link
{
	text-align: right;
	margin-top: -60px;
	float: right;
}

.schedule_link a
{
	font: normal 11px/18px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	color: #21759B;
	text-decoration: none;
}

.schedule_link a:hover
{
	color: black;
}

.schedule_link a:active
{
	position: relative;
	top: 1px;
}

#working a
{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #21759B;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	
}

#working a:hover
{
	color: #D54E21;
}